// Google Material Design colors
$red:       hsl(4, 90%, 58%);
$hot-pink:  hsl(340, 82%, 52%);
$magenta:   hsl(291, 64%, 42%);
$purple:    hsl(262, 52%, 47%);
$violet:    hsl(231, 48%, 48%);
$blue-dark: hsl(207, 90%, 54%);
$blue:      hsl(199, 98%, 48%);
$blue-cyan: hsl(187, 100%, 42%);

$green-sea: hsl(174, 100%, 29%);
$green-dark:hsl(122, 40%, 49%);
$green:     hsl(88, 50%, 53%);
$chartreuse:hsl(66, 70%, 54%);
$yellow:    hsl(54, 100%, 62%);
$gold:      hsl(45, 100%, 51%);
$orange:    hsl(36, 100%, 50%);
$red-orange:hsl(14, 100%, 57%);

$brown:     #795548;
$grey:      hsl(0, 0%, 62%);
$gray:      hsl(0, 0%, 62%);
$blue-gray: hsl(200, 18%, 46%);
$blue-grey: hsl(200, 18%, 46%);

// classes
.red {
    color: $red;
}
.hot-pink {
    color: $hot-pink;
}
.magenta {
    color: $magenta;
}
.purple {
    color: $purple;
}
.violet {
    color: $violet;
}
.blue-dark {
    color: $blue-dark;
}
.blue {
    color: $blue;
}
.blue-cyan {
    color: $blue-cyan;
}
$green-sea: hsl(174, 100%, 29%);
$green-dark:hsl(122, 40%, 49%);
$green:     hsl(88, 50%, 53%);
$chartreuse:hsl(66, 70%, 54%);
$yellow:    hsl(54, 100%, 62%);
$gold:      hsl(45, 100%, 51%);
$orange:    hsl(36, 100%, 50%);
$red-orange:hsl(14, 100%, 57%);

$brown:     #795548;
$grey:      hsl(0, 0%, 62%);
$gray:      hsl(0, 0%, 62%);
$blue-gray: hsl(200, 18%, 46%);
$blue-grey: hsl(200, 18%, 46%);
