// Google Material Design colors
$red:       hsl(4, 90%, 58%);
$hot-pink:  hsl(340, 82%, 52%);
$magenta:   hsl(291, 64%, 42%);
$purple:    hsl(262, 52%, 47%);
$violet:    hsl(231, 48%, 48%);
$blue-dark: hsl(207, 90%, 54%);
$blue:      hsl(199, 98%, 48%);
$blue-cyan: hsl(187, 100%, 42%);

$green-sea: hsl(174, 100%, 29%);
$green-dark:hsl(122, 40%, 49%);
$green:     hsl(88, 50%, 53%);
$chartreuse:hsl(66, 70%, 54%);
$yellow:    hsl(54, 100%, 62%);
$gold:      hsl(45, 100%, 51%);
$orange:    hsl(36, 100%, 50%);
$red-orange:hsl(14, 100%, 57%);

$brown:     #795548;
$grey:      hsl(0, 0%, 62%);
$gray:      hsl(0, 0%, 62%);
$blue-gray: hsl(200, 18%, 46%);
$blue-grey: hsl(200, 18%, 46%);

// classes
.red {
    color: $red;
}
.hot-pink {
    color: $hot-pink;
}
.magenta {
    color: $magenta;
}
.purple {
    color: $purple;
}
.violet {
    color: $violet;
}
.blue-dark {
    color: $blue-dark;
}
.blue {
    color: $blue;
}
.blue-cyan {
    color: $blue-cyan;
}
$green-sea: hsl(174, 100%, 29%);
$green-dark:hsl(122, 40%, 49%);
$green:     hsl(88, 50%, 53%);
$chartreuse:hsl(66, 70%, 54%);
$yellow:    hsl(54, 100%, 62%);
$gold:      hsl(45, 100%, 51%);
$orange:    hsl(36, 100%, 50%);
$red-orange:hsl(14, 100%, 57%);

$brown:     #795548;
$grey:      hsl(0, 0%, 62%);
$gray:      hsl(0, 0%, 62%);
$blue-gray: hsl(200, 18%, 46%);
$blue-grey: hsl(200, 18%, 46%);


// ------------------------------ hue reference
$hue-red: 0;
$hue-yellow: 60;
$hue-green: 120;
$hue-blue: 180;
$hue-violet: 240;
$hue-magenta: 290;
// ------------------------------ Colors: paletton.com Monochromatic + complementary
$base-hue : $hue-blue;

$primary-full-strength: hsl($base-hue, 100%, 50%);
$primary-lighter-2: hsl($base-hue, 100%, 83%);
$primary-lighter-1: hsl($base-hue, 55%, 62%);
$primary:           hsl($base-hue, 50%, 45%);
$primary-complement:  complement($primary);
$primary-darker-1:  hsl($base-hue, 72%, 29%);
$primary-darker-2:  hsl($base-hue, 100%, 17%); 

$complement-hue: $base-hue + 120;
$complement-lighter-2: hsl($complement-hue, 40%, 67%); 
$complement-lighter-1: hsl($complement-hue, 33%, 50%); 
$complement:           hsl($complement-hue, 50%, 35%);
$complement-darker-1:  hsl($complement-hue, 71%, 23%); 
$complement-darker-2:  hsl($complement-hue, 100%, 13%); 

// ------------------------------ colors from variables
.primary-lighter-2 { color: $primary-lighter-2; }
.primary-lighter-1 { color: $primary-lighter-1; }
.primary { color: $primary; }
.primary-darker-1 { color: $primary-darker-1; }
.primary-darker-2 { color: $primary-darker-2; }

.complement-lighter-2 { color: $complement-lighter-2; }
.complement-lighter-1 { color: $complement-lighter-1; }
.complement { color: $complement; }
.complement-darker-1 { color: $complement-darker-1; }
.complement-darker-2 { color: $complement-darker-2; }
