    /* Google Fonts */
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,900');
    @import url('https://fonts.googleapis.com/css?family=Aladin');
    .roboto {
        font-family: 'Roboto', sans-serif;
    }

    .aladin {
        font-family: 'Aladin', sans-serif;
    }

    $baseSize: 16px;
    $rutters-font-size: 62.5%; // Mr. Rutter’s magic font-size

    .basesize { font-size: $baseSize; }
