@mixin columnize($columns, $gap) {	
	// Number of columns
	-webkit-column-count: $columns;
	-moz-column-count: $columns;
	column-count: $columns;	
	// Gap size
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}

.multi-column {
    @include columnize(3, 30px);
}