/* 
wd-400.css
Doug Hoff
Last edited 2/12/2018 
*/
@import 'colors';

    /* Font families from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,900');
@import url('https://fonts.googleapis.com/css?family=Aladin');
.roboto {    font-family: 'Roboto', sans-serif; }
.aladin {    font-family: 'Aladin', sans-serif; }

/*************************** Elements ***********************************/

html { 
    @extend .roboto;
    margin-left: 1rem;
    font-size: 62.5%; // Mr. Rutter’s magic font-size
}
body {
    line-height: 1.4;
    font-size: 1.6rem;
}

/* headings */
.headline-base {
    line-height: 1.0;
    margin-bottom: 0;
    color: $violet;
}
h1 {
    @extend .headline-base;
    font-size: 4rem;
}
h2 {
    @extend .headline-base;
    font-size: 2rem;
}

/* links */
a {
    font-weight: bold;
    text-decoration: none;
    color: $blue-grey;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

/* lists */
ul, ol {
    margin-top: .5rem;
}

/* tables */
td, th {
    border: 1px solid $violet;
    margin: 0;
    padding: 1rem;
}
th {
    color: $blue;
}
tr td:first-child {
    color: $violet;
    font-weight: bold;
    font-size: 2rem;
}
/*************************** Classes ***********************************/

/* gradients */
.bg-gradient {
    /* Permalink - use to edit and share this gradient: http: //colorzilla.com/gradient-editor/#b48dd6+0,7db9e8+100 */
    background: #b48dd6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b48dd6 0%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b48dd6 0%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b48dd6 0%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* colors from Material Design */

