// ===================================================== Imports
@import 'normalize';
@import 'mobileboilerplate';
@import 'colors';
@import 'fonts';
@import 'print';
// ------------------------------ body
html {
    @extend .roboto;
    margin-left: 1rem;
}

body {
    font-size: $baseSize;
    line-height: 1.4;
    margin-left: 1rem;
}

// ------------------------------ headlines
$headingSize: $baseSize * 3;
.headingSize { font-size: $headingSize; }

.headline-base {
    font-size: $headingSize;
    color: $primary-lighter-1;
    margin: 1rem 0 0 0;
}

h1 {
    @extend .headline-base;
    font-size: 4rem;
}

h2 {
    font-size: $headingSize * .9;
    color: $primary-darker-1;
}

h3 {
    font-size: $headingSize * .7;
    color: $primary-darker-2;
}

h4 {
    font-size: $headingSize * .5;
    color: $complement;
}

h5 {
    font-size: $headingSize * .4;
    color: $complement-darker-1;
}

// ------------------------------ links
a {
    color: $primary;
    :visited {
        color: $primary-darker-1;
    }
    :hover {
        columns: $primary-lighter-1;
    }
}

/*************************** Elements ***********************************/

/* links */

a {
    font-weight: bold;
    text-decoration: none;
    color: $blue-grey;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

/* lists */

ul,
ol {
    margin-top: .5rem;
}

/* tables */

td,
th {
    border: 1px solid $violet;
    margin: 0;
    padding: 1rem;
}

th {
    color: $blue;
}

tr td:first-child {
    color: $violet;
    font-weight: bold;
    font-size: 2rem;
}

//---------------------------------- other classes
@mixin columns-and-gap($columns, $gap) {
    // Number of columns
    -webkit-column-count: $columns;
    -moz-column-count: $columns;
    column-count: $columns; // Gap size
    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
}

.multi-column3 {
    @include columns-and-gap(3, 30px);
}

.multi-column2 {
    @include columns-and-gap(2, 40px);
}

.multi-column4 {
    @include columns-and-gap(4, 30px);
}

ruby {
    font-size: .6rem;
}